<div class="crud-container">
	<h1>CRUD Angular com API Yii2</h1>
	
	<div class="crud-actions">
		<div class="add-btn" (click)="openModal()">Criar item</div>
	</div>
	
	<hr class="divider">
	
	<table class="crud-table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Quantidade</th>
				<th>Categoria</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let produto of produtosAtivos">
				<td>{{produto.id}}</td>
				<td>{{produto.nome}}</td>
				<td>{{produto.quantidade}}</td>
				<td>{{getNomeCategoria(produto.categoria)}}</td>
				<td class="actions">
					<div 
						class="edit-btn" 
						(click)="editarProduto(produto.id)"
					>Editar</div>
					<div 
						class="del-btn"
						(click)="removerProduto(produto.id)"
					>Excluir</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div id="itemModal" class="modal" [class.active]="showModal">
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-title">
					{{ produtoEditando ? 'Editar Produto' : 'Novo Produto' }}
				</span>
				<span class="close" (click)="closeModal()">&times;</span>
			</div>
			
			<form method="POST">
				<div class="modal-body">
					<div class="form-group">
						<label for="itemName">Nome:</label>
						<input 
							type="text" 
							id="itemName" 
							name="itemName"
							placeholder="Digite o nome do item"
							[(ngModel)]="produto.nome"
						/>
					</div>
					
					<div class="form-group">
						<label for="itemQuantity">Quantidade:</label>
						<input 
							type="number" 
							id="itemQuantity" 
							name="itemQuantity"
							placeholder="Digite a quantidade"
							[(ngModel)]="produto.quantidade"
						/>
					</div>
					
					<div class="form-group">
						<label for="itemCategory">Categoria:</label>
						<select 
							id="itemCategory" 
							name="itemCategory"
							[(ngModel)]="produto.categoria"
						>
							<option value="">Selecione uma categoria</option>
							<option *ngFor="let categoria of categorias" [value]="categoria.id">
								{{categoria.name}}
							</option>
						</select>
					</div>
				</div>
				
				<div class="modal-footer">
					<div class="btn btn-secondary" (click)="closeModal()">Cancelar</div>
					<div class="btn btn-primary" 
						(click)="produtoEditando ? atualizarProduto() : cadastrarProduto()">
						{{ produtoEditando ? 'Atualizar' : 'Gravar' }}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>